* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
  margin-top: 20px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid teal;
  margin-top: 15px;
  padding: 15px;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.delete-btn {
  fill: red;
  width: 20px;
  height: 20px;
}
